// Color system

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #777777;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #222222;
$black: #000;

// Typography

$headings-font-family: "Playfair Display", serif;
$headings-font-weight: 900;
$headings-color: $gray-900;
$font-family-regular: "Roboto", serif;
$font-family-base: $font-family-regular;
$font-size-base: 1.125rem; // 18px (Assumes the browser default, typically `16px`)
$line-height-base: 1.8;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$display1-size: 12rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;

$headings-line-height: 1.2;
$blockquote-font-size: $font-size-base;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white;
$body-color: $gray-600;
